body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#listapaises {
   width: 2000px;
  display : flex ;
  flex-wrap:  wrap;
  gap: 10px;
  padding: 0;
  list-style:none;
  text-align: center;  
}
#listapaises li {
 
border: 1px solid #333;


}

#listapaises  li img{
  padding:  10px;

  width:300px;
  height: auto;
  display: block;
}

.info{
  display: none;
  position: fixed;
  bottom:  0;
  left: 0;
  right: 0;
  top : 0;
  background-color: rgba(128, 255, 0, 0.418);

}

.visible{
  display: block;
}

.info-container{
 display: flex;

  padding: 10px;
  align-items: center;
  justify-content: center;

}
 