body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

#listapaises {
  display : flex ;
  flex-wrap:  wrap;
  gap: 10px;
  padding: 0;
  list-style:none;
  text-align: center;
}

